
<style>

table {
  table-layout: fixed;
}
th#th1,td#td1 {
background-color: purple;
}
th#th2,td#td2 {
  background-color: #5690c7;
}
th#th3,td#td3 {
  background-color: #a65b30;
}
th#th4,td#td4 {
background-color: #993300
}
th#th5, td#td5{
background-color: #7a7a52;
}
th#th6, td#td6 {
  background-color: #800000;
}
th#th7, td#td7 {
  background-color: #996633;
}
figure#music1 {
position: absolute;
left: 600px;
top:  600px;
visibility: hidden;
}
  table#t1 {
    position: absolute;
  right: 35px;
  top: 75px;
  border: 50px solid transparent;
  padding: 0px;
    border-image:  url(img.png) 45 stretch;
  border-image-outset: 0px;
  margin: 0px;
  border-spacing:  0px;
  }
  table#t2 {
  visibility: hidden;
    position: absolute;
right: 35px;
top: 75px;
border: 50px solid transparent;
padding: 0px;
border-image:  url(img.png) 45 stretch;
border-image-outset: 0px;
margin: 0px auto;
border-spacing: 0px;
}
  table#t3 {
    visibility: hidden;
    position: absolute;
  right: 35px;
  top: 75px;
  border: 50px solid transparent;
  padding: 0px;
  border-image:  url(img.png) 45 stretch;
  border-image-outset: 0px;
  margin: 0px auto;
  border-spacing: 0px;
  }
  table#t4 {
    visibility: hidden;
    position: absolute;
    right: 75px;
    top: 75px;
    border: 50px solid transparent;
    padding: 0px;
    border-image:  url(img.png) 45 stretch;
    border-image-outset: 0px;
    margin: 0px;
    border-spacing: 0px;
    }
  table#t5 {
    visibility: hidden;
    position: absolute;
  right: 75px;
  top: 75px;
  border: 50px solid transparent;
  padding: 0px;
  border-image:  url(img.png) 45 stretch;
  border-image-outset: 0px;
  margin: 0px;
  border-spacing: 0px;
  }
  table#t6 {
    visibility: hidden;
    position: absolute;
  right: 75px;
  top: 75px;
  border: 50px solid transparent;
  padding: 0px;
  border-image:  url(img.png) 45 stretch;
  border-image-outset: 0px;
  margin: 0px;
  border-spacing: 0px;
  }
  .button {
background-color: #4CAF50; /* Green */
border: none;
padding: 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 15px;
margin: 2px 2px;
cursor: pointer;
}
.button4 {
  border-radius: 12px;
}

th,tr,td {
border-style: ridge;
border-width: 7px;
border-color: #006666; }
th,td {
      padding:5px;
    }
  </style>
